html, body {
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Aldrich", sans-serif;
  line-height: 1.6;
  background: linear-gradient(-45deg, #1b3465, #0d47a1, #00b4db, #149c83, #00b4db, #0d47a1, #1b3465);
  background-size: 400% 400%;
  background-attachment: fixed; 
  animation: forwardDiagonal 30s linear infinite alternate;
}

.page {
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}

.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 auto;
}

h1, h2, h3, p, li, .bottom-text {
  color: #d2f3ff;
  text-align: center;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

p {
  margin-bottom: 20px;
}

li {
  font-size: 16px;
  margin-bottom: 10px;
}

.bottom-text {
  margin-top: auto;
  padding: 1rem 0;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.music-list,
.changelog-list {
  list-style-position: inside;
  padding-left: 0;
}

.semi-transparent {
  opacity: 0.1;
}

@keyframes forwardDiagonal {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}